In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams.update({'font.family' : 'AppleGothic'})
d = pd.read_csv('week9_movieData.csv')

In [17]:
# d.head()
# d.shape # 32244개의 데이터가 있음
# d.info()
# d.describe()

,사용자아이디,영화아이디,평점,타임스탬프,연령,직업
count,32244.000000,32244.000000,32244.000000,3.224400e+04,32244.000000,32244.000000
mean,3023.864502,35.638661,3.597351,9.718767e+08,28.430282,7.830666
std,1736.299884,25.280675,1.100865,1.172346e+07,11.447140,6.487866
min,1.000000,1.000000,1.000000,9.567046e+08,1.000000,0.000000
25%,1496.000000,16.000000,3.000000,9.652546e+08,25.000000,2.000000
50%,3072.000000,34.000000,4.000000,9.726147e+08,25.000000,6.000000
75%,4489.000000,50.000000,4.000000,9.751345e+08,35.000000,14.000000
max,6040.000000,99.000000,5.000000,1.046192e+09,56.000000,20.000000