In [1]:
# 중간고사 대비 공부
# 필수 임포트
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
# csv 파일 읽어오기
# dataframe명 = pd.read_csv('경로/파일명')
mpg = pd.read_csv('../Data/mpg.csv')

# 컬럼 이름 변경하기(cty를 도심연비, hwy를 고속도로연비로)
mpg = mpg.rename(columns={'cty' : '도심연비', 'hwy' : '고속도로연비'})
mpg.head(1)

  manufacturer model  displ  year  cyl     trans drv  도심연비  고속도로연비 fl category
0         audi    a4    1.8  1999    4  auto(l5)   f    18      29  p  compact

In [15]:
# 새 컬럼 생성하기
# 평균연비 컬럼 생성
mpg['평균연비'] = (mpg['도심연비'] + mpg['고속도로연비'] / 2)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,도심연비,고속도로연비,fl,category,평균연비
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,32.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,35.5
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,35.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,36.0
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,29.0

In [23]:
# 조건문을 이용하여 파생 변수 생성
# 평균연비가 25보다 작은 경우 pass, 그렇지 않으면 nonpass
mpg['pnp'] = np.where(mpg['평균연비'] > 25, 'pass', 'nonpass')
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,도심연비,고속도로연비,fl,category,평균연비,25이상,grade,pnp
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,32.5,pass,A,pass
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,35.5,pass,A,pass
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,35.5,pass,A,pass
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,36.0,pass,A,pass
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,29.0,pass,B,pass

In [21]:
# 중첩된 조건문
mpg['grade'] = np.where(mpg['평균연비'] > 30, 'A',
                        np.where(mpg['평균연비'] > 20, 'B',
                                 np.where(mpg['평균연비'] > 10, 'C', 'D')))
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,도심연비,고속도로연비,fl,category,평균연비,25이상,grade
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,32.5,pass,A
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,35.5,pass,A
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,35.5,pass,A
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,36.0,pass,A
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,29.0,pass,B

In [25]:
# 여러 조건 같이
mpg['size'] = np.where((mpg['category'] == 'compact') |
                       (mpg['category'] == 'midsize') |
                       (mpg['category'] == '2seater'), 'small', 'big')
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,도심연비,고속도로연비,fl,category,평균연비,25이상,grade,pnp,size
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,32.5,pass,A,pass,small
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,35.5,pass,A,pass,small
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,35.5,pass,A,pass,small
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,36.0,pass,A,pass,small
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,29.0,pass,B,pass,small

In [29]:
# query, groupby, agg 복습 해보기
exam = pd.read_csv('../Data/exam.csv')
exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65